$actionsSize = 6u

.root
  flex-direction row
  align-items center
  justify-content space-between
  height $actionsSize
  width 100%

.input
  background-color #f1f1f1
  padding 0 2u
  color #8e8d8d
  flex-grow 1
  height $actionsSize
  width 100%

.search
  width $actionsSize
  align-items center
  justify-content center
  height $actionsSize
  background-color #dedede
