.root
  align-items center
  width 100%
  padding 0 2u 7u
  justify-content space-between

  +tablet()
    padding 0 4u 7u

  +desktop()
    padding 0 0 7u
    flex-shrink 1
    margin-left 6u

  +wide()
    padding 0
    justify-content flex-start

.found
  display none
  margin-top 0

  +desktop()
    display flex

.products
  width 100%

  +tablet()
    flex-direction row
    flex-wrap wrap

  +desktop()
    width auto
    margin-top 7u

.product
  &.first
    margin-top 0

  +tablet()
    &.second
      margin-top 0

    &.even
      margin-left 3u

  +wide()
    &.third
    &.fourth
      margin-top 0

    &.everyFourth
      margin-left 0