.root
  align-items center
  flex-direction row

.icon
  padding .5u
  margin-left 2u

  &.first
    margin-left 0

  &.last
    border 1px solid black
  
  +desktop()
    &.last
      border none
    