.root
  align-items flex-start
  width 100%

.category
  flex-direction row
  align-items center
  margin-top 2u
  width 100%

  &.first
    margin-top 0

.label
.value
  color #888888
  font-weight bold

.label
  flex-grow 1
