.root
  align-items flex-start
  padding 6u 2u
  width 100%

  +tablet()
    padding 6u 4u

  +desktop()
    width 30%
    padding 0

  +wide()
    width 25%

  +wide()
    padding-left 0

.filter
  &.first
    margin-top 0

.found
  +desktop()
    display none