$rangeColor = #b7b7b7

.root
  align-items flex-start
  width 100%

.range
  flex-direction row
  align-items center
  width 100%

.edge
  width 0.5u
  height 2u
  background-color $rangeColor 

.line
  height 0.5u
  flex-grow 1
  background-color $rangeColor

.price
  flex-direction row
  align-items center
  justify-content space-between
  width 100%
  margin-top 3u

.text
  color #575757
