.root
  align-items flex-start
  width 100%
  margin-top 5u

.title
  color #6c6c6c
  font-size 18px
  font-weight bold
  width 100%

.content
  align-items center
  width 100%
  flex-grow 1
  margin-top 4u
