.root
  width 100%
  padding 4u 2u
  flex-direction row
  align-items center
  justify-content space-between

  +tablet()
    padding 4u

  +desktop()
    padding 4u 6u

  +wide()
    padding 4u 0
    max-width 150u

.menu
  margin-top 0
  display none

  +desktop()
    display flex
