.root
  align-items flex-start
  width 100%

  +tablet()
    width auto

.icons
  flex-direction row
  margin-top 2u

.icon
  width 4u
  height @width
  align-items center
  justify-content center
  radius(circle)
  border 1px solid #585858
  margin-left 2u

  &.first
    margin-left 0

.exp
  color #585858
