$imageWidth = 1920

.root
  align-items center
  width 100%

.image
  height 26u
  width 240u

  +tablet()
    height 35u

  +desktop()
    height 42u

  +wide()
    height 62u

.text
  position absolute
  top 0
  bottom 0
  left 2u
  justify-content center

  +tablet()
    left 4u
  
  +desktop()
    left 6u

  +wide()
    left 0
    right 0
    max-width 150u
    margin auto

.main
  font-weight bold
  font-size 30px
  color #585858

  +tablet()
    font-size 34px

.breadcrumbs
  flex-direction row
  margin-top 2u

  +tablet()
    margin-top 3u

.path
  margin-left 1u
  text-transform uppercase
  color #7c7c7c

  &.first
    margin-left 0

  &.last
    font-weight bold

  &.slash
    margin-left 1u
