$textColor = #6c6c6c

.root
  align-items flex-start
  width 100%
  margin-top 6u

  +tablet()
    flex-direction row
    justify-content space-between
    align-items center

.text
  color $textColor
  font-size 18px

  &.number
    color #ff4136

.sortBy
  color $textColor
  font-size 18px

  &.value
    text-transform capitalize

.row
  margin-top 2u
  flex-direction row

  +tablet()
    margin-top 0

.sort
  margin-left 1u
  flex-direction row
  min-width 14u
  justify-content space-between

.bars
  margin-left 4u
  