.root
  width 100%
  padding 6u 2u
  background-color #f5f5f5
  align-items center

  +tablet()
    padding 12u 4u

.container
  width 100%

  +tablet()
    max-width 90u
  
  +desktop()
    flex-direction row
    justify-content space-between
    align-items center
    max-width 150u

.logo
  margin-top 5u
  align-items flex-start

  +tablet()
    margin-top 0

.line
  width 20u
  height 1px
  background-color #6d6d6d
  margin-top 2u

.column
  width 100%

  +tablet()
    width auto
    align-items center

.row
  width 100%

  +tablet()
    flex-direction row
    justify-content space-between
    align-items center

.contacts
  width auto
  &.desktop
    display none

  +desktop()
    margin-top 0 

    &.desktop
      display flex

    &.mobile
      display none