$textColor = #686868

.root
  align-items flex-start
  width 100%

.product
  margin-top 4u
  flex-direction row

  &.first
    margin-top 0

.image
  width 11u
  height @width

.info
  margin-left 2u

.title
  color $textColor

.rating
  margin-top 2u

.price
  margin-top 2u
  color $textColor
