$textColor = #585858

.root
  align-items flex-start
  width 100%
  margin-top 5u

.contact
  flex-direction row
  margin-top 1u

  &.first
    margin-top 0

.label
  text-transform uppercase
  font-weight bold
  color #585858

.value
  color $textColor
