$circleSize = 3u

.root
  align-items flex-start
  width 100%
  flex-direction row

  +wide()
    flex-wrap wrap

.circleWrapper
  margin-left 3u

  &.first
    margin-left 0

  +desktop()
    margin-left 2u

.circle
  radius(circle)
  width $circleSize
  height $circleSize

  +wide()
    width $circleSize * 1.2
    height $circleSize * 1.2
