.root
  width 100%
  flex 1

.content
  align-items center
  width 100%

.wrapper
  width 100%

  +desktop()
    margin-top 12u
    flex-direction row
    padding 0 4u 0 6u

  +wide()
    max-width 150u
    padding 0
    margin-bottom 10u
