.root
  align-items center
  width 100%
  margin-top 4u

  +tablet()
    width auto

  +wide()
    margin-left 3u

.sale
  position absolute
  left 20px
  top 20px
  background-color #626262
  padding .5u 1u

.saleText
  color #fff
  text-transform uppercase

.row
  margin-top 2u
  flex-direction row
  justify-content space-between
  width 100%

.label
  color #5d5d5d
  text-transform uppercase
  font-weight bold

  &.price
    color #ee3333

  +wide()
    max-width 16u

.category
  width 100%
  margin-top 1u
  color #474747
