.root
  align-items flex-start
  width 100%
  margin-top 3u
  flex-direction row

  +tablet()
    width auto

.item
  margin-left 1u
  text-transform uppercase
  color #474747

  &.first
    margin-left 0

  +tablet()
    margin-left 3u

  +desktop()
    margin-left 5u
    font-weight bold
